version: '3.8'

services:
  backend:
    image: php:8.2-fpm
    build : 
        context : ./backend/.
    
    container_name: backend
    ports:
      - "8080:80"  # Ajouter cette ligne pour exposer le port
    volumes:
      - ./backend:/var/www/html
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
    ports:
      - "3306:3306"  # Si vous voulez accéder à MySQL depuis l'extérieur
    networks:
      - app-network

  frontend:
    image: nginx:latest
    container_name: frontend
    ports:
      - "8000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    networks:
      - app-network

networks:
  app-network:
    driver: bridge